{% extends "base.html" %}{% block content %}
<h1>Счетчики электричества и воды</h1>
<p>Для того, чтобы ввести данные о показании счетчиков электричества или воды, надо пройти в пункт меню сайта <em>Счетчики электричества</em>
  или <em>Счетчики воды</em> и добавить новый документ с  показаниями нажав на кнопку <strong>Добавить показание счетчика</strong>.</p>
<p>При этом надо понимать, что для каждого участка допускается ввод только одного показания в месяц. Например, для участка 99 вводится за январь 2018 года только один документ.</p>
<p>Если Вы по каким либо причинам решили изменить показания уже введенного документа, то необходимо обратится к администратору сайта (и владельцу участка 99 по
  совместительству ;-) и попросить его изменить показание.</p>
<h1>Приходные ордера</h1>
<p>Данные документы предназначены для ввода сведений о оплате ранее введеных счетчиков электричества и воды.</p>
<p><strong>Внимание!</strong> При записи документа контролируется уникальность выбранных в документе документов <em>Счетчик электрический</em>
  и <em>Счетчик воды</em></p>
<p>При попытке записать приходный ордер с показаниями счетков выбранных в ранее введеных документах, сайт выдаст ошибку. В данном случае надо будет нажать кнопку <em>
  Назад</em> броузера и перевыбрать другие документы с показаниями счетчиков.</p>
<h1>Список расхода из фонда</h1>
<p>В данном документе фиксируются расходы правления поселка. В документе <em>Приходный ордер</em> есть поле <strong>Сумма в фонд поселка</strong>.
  Эта сумма идет на какие либо нужды поселка и проживающих в нем жителей. Чтобы обеспечить прозрачность расхода сумм из фонда предназначен документ <em>
    Расходный ордер</em>. Он вводится только людьми имеющими соответствующие права на ввод данного документа.</p>
{% endblock content %}
