{% extends "base.html" %} {% block home %}
<div class="jumbotron">
<p>Данный сайт предназначен для жителей коттеджного поселка Солнечный</p>
<p>На этом сайте вы сможете внести свои данные по счетчика электричества, воды, а также отразить факт передачи денег за коммуналку.</p>
  <p>Для корректной работы всего функционала сайта необходимо зарегистрироваться.</p>
  <p>В дальнейшем мы будем развивать движок сайта, добавив форум для общения, объявления, автоматическую рассылку напоминаний...</p>
  <p>Если вам непонятно как вводить данные на сайте, то обратитесь к разделу помощи!</p>
</div>
{% endblock home %}
