{% extends 'base.html' %} {% block content %}


<div class="container">
    {% if user.is_authenticated %}
    <h2>Список оплат за коммуналку</h2>
    <div class="mb-4">
        <a href="{% url 'pko_new' %}"  class="btn btn-outline-primary">Добавить кассовый ордер</a>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Автор</th>
                        <th>Дата создания</th>
                        <th>Месяц</th>
                        <th>Год</th>
                        <th>Участок</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for counter in pkos %}
                    <tr>
                        <td data-label="Автор"><a href="{% url 'pko_detail' counter.pk %}">{{ counter.autor.name }}</a></td>
                        <td data-label="Дата создания"><a href="{% url 'pko_detail' counter.pk %}">{{ counter.created_date }}</a></td>
                        <td data-label="Месяц"><a href="{% url 'pko_detail' counter.pk %}">{{ counter.month }}</a></td>
                        <td data-label="Год"><a href="{% url 'pko_detail' counter.pk %}">{{ counter.year }}</a></td>
                        <td data-label="Участок"><a href="{% url 'pko_detail' counter.pk %}">{{ counter.home }}</a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    {% include 'includes/pagination.html' %}


    {% else %}
    <div class="alert alert-success" role="alert">
            <p>Для просмотра списка кассовых ордеров вы должны быть зарегистрированы на сайте</p>
            <hr>
            <p class="mb-0">Вы можете войти на сайт с помощью ссылки вверху справа</p>
          </div>
    {% endif %}
</div>

{% endblock content %}
