{% extends 'base.html' %} {% block content %}


<div class="container">
  {% load static %}
  <img src= "{% static 'images/153329.png' %}" class="img-fluid" alt="Responsive image">
    {% if user.is_authenticated %}
    <h4>Список участков</h4>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Владелец участка</th>
                        <th>Номер участка</th>
                        <th>Улица</th>
                        <th>Номер дома</th>
                        <th>Комментарий</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for counter in homes %}
                    <tr>
                        <td data-label="Владелец участка">{{ counter.owner.name }}</td>
                        <td data-label="Номер участка">{{ counter.section }}</td>
                        <td data-label="Улица">{{ counter.street }}</td>
                        <td data-label="Номер дома">{{ counter.numhome }}</td>
                        <td data-label="Комментарий">{{ counter.comment }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    {% include 'includes/pagination.html' %}


    {% else %}
    <div class="alert alert-success" role="alert">
            <p>Для просмотра списка кассовых ордеров вы должны быть зарегистрированы на сайте</p>
            <hr>
            <p class="mb-0">Вы можете войти на сайт с помощью ссылки вверху справа</p>
          </div>
    {% endif %}
</div>


{% endblock content %}
